@use "sass:map";
@use "sass:list";
@use "../common/colors";

.form__input {
    $field-width: 12rem;
    $field-color: colors.$clr-white;
    $border-color: colors.$clr-gray-5;
    $text-color: colors.$clr-black;
    $text-label-color: colors.$clr-black;
    $text-smalllabel-color: colors.$clr-gray-5;
    $positive: colors.$clr-blue-5;
    $negative: colors.$clr-red;
    $height: 2.5rem;
    $radius: calc($height/2);
    $margin: 4px 0 0.5rem 0;

    &--text {
        position: relative;
        margin: $margin;

        %form-input-text-common {
            position: absolute;

            transition-duration: 0.15s;

            font-size: 1rem;
        }

        %form-input-text-smalllabel {
            transform: translateY(10%);

            font-size: 0.6rem;
            color: $text-smalllabel-color;
        }

        & > input {
            box-sizing: border-box;
            height: $height;
            padding: 0.75rem 1rem 0 1rem;

            outline: $border-color solid 1px;
            border: 0;
            border-radius: $radius;
            color: $text-color;
            background-color: $field-color;

            &:hover {
                outline-width: 2px;
            }

            &:active,
            &:focus {
                outline-width: 3px;
            }

            &:focus + label {
                @extend %form-input-text-smalllabel;
            }

            @extend %form-input-text-common;
        }

        &.notblank > label {
            @extend %form-input-text-smalllabel;
        }

        & > label {
            left: 1rem;
            transform: translateY(50%);

            color: $text-label-color;

            @extend %form-input-text-common;
        }
    }

    &--file {
        display: flex;
        align-items: flex-start;
        box-sizing: border-box;

        input {
            display: none;
        }

        label {
            display: inline-block;
            margin-right: 0.5rem;

            color: $text-label-color;
        }
        p {
            margin: 0;
        }
    }

    &--checkbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $height;
        margin: $margin;
        padding: 0 1rem 0 1rem;

        border-radius: $radius;
        outline: $border-color solid 1px;
        background-color: $field-color;
        color: $text-color;

        &:hover {
            outline-width: 2px;
        }

        &:active,
        &:focus {
            outline-width: 3px;
        }

        span {
            margin-bottom: 0.1rem;
        }

        input {
            display: none;
        }

        .checkbox {
            $checkbox-height: calc($height * 0.6);
            $checkbox-width: calc($checkbox-height * 2);

            position: relative;
            box-sizing: border-box;
            height: $checkbox-height;
            width: $checkbox-width;

            cursor: pointer;

            transition-duration: 0.1s;
            outline: $border-color solid 1px;
            border-radius: $radius;
            background-color: $negative;
            &.checked {
                background-color: $positive;

                &::after {
                    left: calc($checkbox-width / 2);
                }
            }

            &::after {
                position: absolute;
                box-sizing: border-box;
                left: 0;
                width: $checkbox-height;
                height: $checkbox-height;

                content: "";

                transition-duration: 0.1s;
                border: 1px solid $border-color;
                border-radius: $radius;
                background-color: white;
            }
        }
    }

    &--textarea {
        margin: $margin;

        & textarea {
            // @extend .form__input;
            box-sizing: border-box;
            width: 100%;
            padding: 0.5rem;
            resize: none;
            border: 1px solid $border-color;
            border-radius: 1rem;
            background-color: $field-color;

            &:hover {
                box-shadow: 0 0 0 1px $border-color;
            }

            &:focus {
                box-shadow: 0 0 0 2px $border-color;
                outline-width: 0;
            }
        }
    }
}
