@use "sass:map";
@use "sass:list";
@use "../common/colors";

.form__input {
    $field-width: 12rem;
    $field-color: map.get(colors.$colors, "c-white");
    $border-color: map.get(colors.$colors, "c-gray");
    $text-color: map.get(colors.$colors, "c-black");
    $text-label-color: map.get(colors.$colors, "c-black");
    $text-smalllabel-color: map.get(colors.$colors, "c-gray");
    &--text {
        position: relative;
        margin: 4px 4px 0.5rem 4px;

        %form-input-text-common {
            position: absolute;

            transition-duration: 0.15s;

            font-size: 1rem;
        }

        %form-input-text-smalllabel {
            transform: translateY(10%);

            font-size: 0.6rem;
            color: $text-smalllabel-color;
        }

        & > input {
            box-sizing: border-box;
            height: 2.2rem;
            padding: 0.75rem 1rem 0 1rem;

            border: 0;
            color: $text-color;

            &:focus + label {
                @extend %form-input-text-smalllabel;
            }

            @extend %form-input-text-common;
        }

        &.notblank > label {
            @extend %form-input-text-smalllabel;
        }

        & > label {
            left: 1rem;
            transform: translateY(50%);

            color: $text-label-color;

            @extend %form-input-text-common;
        }
    }

    &-file {
        display: flex;
        align-items: flex-start;
        box-sizing: border-box;

        input {
            display: none;
        }

        label {
            display: inline-block;
            margin-right: 0.5rem;

            color: $text-label-color;
        }
        p {
            margin: 0;
        }
    }

    &-checkbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem 0.5rem 1rem;

        border: 1px solid $border-color;
        border-radius: 15px;
        background-color: map.get(colors.$colors, "c-white");

        span {
            margin-bottom: 0.1rem;
        }

        input {
            display: none;
        }

        .checkbox {
            position: relative;
            box-sizing: border-box;
            width: 48px;
            height: 24px;

            cursor: pointer;

            transition-duration: 0.1s;
            outline: map.get(colors.$colors, "c-gray") solid 1px;
            border-radius: 12px;
            background-color: map.get(colors.$colors, "c-red");
            &.checked {
                background-color: map.get(colors.$colors, "c-blue");

                &::after {
                    left: 24px;
                }
            }

            &::after {
                position: absolute;
                box-sizing: border-box;
                left: 0;
                width: 24px;
                height: 24px;

                content: "";

                transition-duration: 0.1s;
                border: 1px solid map.get(colors.$colors, "c-gray");
                border-radius: 12px;
                background-color: white;
            }
        }
    }
}
