@use "sass:map";
@use "sass:list";
@use "../common/colors";

%image-sm-common {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;

    overflow: hidden;

    &:hover {
        transition-duration: 0.1s;
        transition-timing-function: ease-in;
        transform: scale(0.95);
    }

    border-radius: 5%;
    transition-duration: 0.2s;
}
%img-common {
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;

    background-color: white;
}
.image {
    &--full {
        width: 100%;
        padding: 0;

        & > img {
            @extend %img-common;
        }
    }

    &--listing {
        @extend %image-sm-common;
        margin: 0;
        width: 50px;
        height: 50px;

        & > img {
            @extend %img-common;
            height: 100%;
        }
    }

    &--thumbnail {
        @extend %image-sm-common;

        & > img {
            @extend %img-common;
            height: 100%;
        }
    }

    &--profile {
        @extend %image-sm-common;
        // display: inline-block;
        width: 100px;
        height: 100px;
        // overflow: hidden;

        // border-radius: 15px;

        &.editable {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;
            &:hover {
                &:before {
                    position: absolute;
                    z-index: 1;
                    display: block;
                    width: 100%;
                    height: 100%;
                    opacity: 0.7;
                    background-color: map.get(colors.$colors, "c-black");
                    content: "";
                }
                &:after {
                    position: absolute;
                    z-index: 2;
                    margin: auto;
                    content: "edit profile";

                    text-shadow: 1px 1px 1px gray;
                    font-weight: 300;
                    color: map.get(colors.$colors, "c-white");
                }
            }
        }
        & > img {
            @extend %img-common;
            background-color: rgba($color: #000000, $alpha: 0);
            height: 100%;
        }
    }

    &--stamp {
        @extend %image-sm-common;
        width: 3rem;
        height: 3rem;
        position: absolute;

        & > img {
            @extend %img-common;
            height: 100%;
        }
    }

    &--stamp-listing {
        @extend %image-sm-common;
        width: 40px;
        height: 40px;

        & > img {
            @extend %img-common;
            height: 100%;
        }
    }

    &--icon {
        @extend %image-sm-common;
        width: 40px;
        height: 40px;

        & > img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            -o-object-fit: cover;
        }
    }

    &--icon-sm {
        @extend %image-sm-common;
        width: 25px;
        height: 25px;

        & > img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            -o-object-fit: cover;
        }
    }

    &--menu {
        @extend %image-sm-common;
        width: 30px;
        height: 30px;

        & > img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            -o-object-fit: cover;
        }
    }
}
