@use "sass:map";
@use "sass:color";
@use "../common/colors";
@use "../common/layout";

.modal {
    position: fixed;
    display: flex;
    z-index: 9002;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    background-color: rgba($color: colors.$clr-white, $alpha: 0.5);

    %modal-common {
        padding: 1rem;
        border-radius: 1.5rem;

        background-color: rgba($color: colors.$clr-white, $alpha: 0.8);
        outline: rgba($color: colors.$clr-white, $alpha: 0.2) solid 1px;
        box-shadow: 1px 1px 5px 1px #444444;
    }

    &__form {
        @extend %modal-common;
    }

    &__dialog {
        @extend %modal-common;
    }
}
