@use "../common/colors";

.profile-list {
    &__row {
        $height: 4rem;
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        height: $height;
        margin: 1px 0;
        padding: 0.5rem 1rem;
        width: 100%;

        border-radius: calc($height / 2);
        background-color: colors.$clr-white;

        a {
            display: flex;
            justify-content: space-between;
        }

        & > div {
            flex-grow: 1;
            max-width: 80%;
            padding: 0.5rem;
        }
    }
}
