.profile-list {
    display: inline-block;
    vertical-align: top;
    width: 100%;

    &-row {
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        margin: 1px 0;
        padding: 0.5rem;
        width: 100%;

        border-radius: 15px;
        background-color: white;

        a {
            display: flex;
            justify-content: space-between;
        }

        .username {
            flex-grow: 1;
            max-width: 80%;
        }

        .username,
        .follow {
            margin-left: 1rem;
        }
    }
    &__link {
        display: flex;
        align-items: center;
    }
}
