@use "../common/colors";

@keyframes stamp-list-animation {
    0% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

.stamp-list {
    padding: 2px 4px 22px 4px;
    outline: colors.$clr-gray-5 solid 1px;
    border-radius: 15px;
    color: colors.$clr-white;
    background-color: colors.$clr-blue-7;

    animation: stamp-list-animation 2s ease-out 2s 1 forwards;

    .open {
        margin: 0;
        height: 20px;
        text-align: center;
        color: colors.$clr-white;
        cursor: pointer;
        transition-duration: 0.2s;

        &.expanded {
            background-color: rgba($color: colors.$clr-gray-5, $alpha: 0);
            transform: rotate(180deg);
            transform-origin: 50% 50%;
        }

        &:hover {
            transition-duration: 0.1s;
        }
    }
    &__scrollable {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        min-height: 40px;
        overflow: scroll;
        scroll-behavior: smooth;
        overflow-y: auto;
        overflow-x: hidden;

        transition-duration: 0.2s;

        background-color: colors.$clr-blue-9;
        border-radius: 5px;

        .image--stamp-listing {
            margin: 0;
            padding: 0;
            transform: scale(0.8);
            opacity: 0.8;
            &.selected {
                transform: scale(1);
                outline: colors.$clr-blue-7 solid 1px;
                background-color: colors.$clr-white;
                opacity: 1;
            }
        }
    }

    &__container {
        display: grid;
        grid-template-columns: 50px auto 50px;
    }
}
