.stamp-list {
    position: absolute;
    padding: 2px 4px 22px 4px;
    outline: gray solid 1px;
    border-radius: 15px;
    color: white;

    .open {
        margin: 0;
        height: 20px;
        text-align: center;
        color: white;
        cursor: pointer;
        transition-duration: 0.2s;

        &.expanded {
            background-color: rgba($color: gray, $alpha: 0);
            transform: rotate(180deg);
            transform-origin: 50% 50%;
        }

        &:hover {
            transition-duration: 0.1s;
        }
    }
    &__scrollable {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        overflow: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        overflow-x: hidden;
        // overflow-y: hidden;
        transition-duration: 0.2s;

        .image--stamp-listing {
            margin: 0;
            padding: 0;
            transform: scale(0.8);
            opacity: 0.6;
            &.selected {
                transform: scale(1);
                outline: white solid 1px;
                opacity: 1;
            }
        }
    }

    &__container {
        position: relative;
    }
}
