@use "sass:map";
@use "sass:color";
@use "../common/colors";

.post {
    width: 100%;

    color: map.get(colors.$colors, "c-white");

    &-top {
        position: relative;
        overflow: hidden;

        &.stamping {
            cursor: pointer;
        }
    }

    &-middle {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        button {
        }

        .stamp-list__container {
        }

        &__credits {
            margin: 0;
        }
        &__link {
            font-size: 1rem;
            color: map.get(colors.$colors, "c-white");
            &:hover {
                color: scale-color(
                    map.get(colors.$colors, "c-white"),
                    $lightness: -20%
                );
            }
        }
    }
}

.stamp {
    width: 3rem;
    height: 3rem;
    position: absolute;

    & img {
        max-width: 100%;
        max-height: 100%;
    }
}
