@use "sass:map";
@use "sass:color";
@use "../common/colors";

.editinfo {
    width: 50%;
    color: map.get(colors.$colors, "c-black");
    & .cancel {
        float: right;
    }

    &__image-form {
        display: flex;
        flex-wrap: wrap;

        &-controls {
            padding: 0.5rem;
        }
        & input[type="file"] {
            width: 14rem;
        }
        & button {
            margin: 0 0.5rem;
        }
    }

    &__text-form {
        margin: 2rem 0 0 0;

        %profile-update-form-fields {
            display: block;
            width: 60%;
            margin-bottom: 0.5rem;

            border: 0;
            border-radius: 3px;
            outline: 0;

            &:hover {
                outline: 1px solid map.get(colors.$colors, "c-white");
            }

            &:focus {
                outline: 2px solid map.get(colors.$colors, "c-white");
            }
        }

        & input {
            @extend %profile-update-form-fields;
            box-sizing: border-box;
            width: 100%;
            padding: 0.5rem;
            margin: 5px 0;
            border-radius: 15px;
        }

        & textarea {
            @extend %profile-update-form-fields;
            box-sizing: border-box;
            width: 100%;
            padding: 0.5rem;
            resize: none;
            border-radius: 15px;
        }
    }
}
