@use "sass:map";
@use "sass:color";
@use "../common/colors";

.profile-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    color: map.get(colors.$colors, "c-white");

    &::after {
        display: block;
        width: 98%;
        margin: auto;

        content: "";
        border-bottom: 1px solid map.get(colors.$colors, "c-white");
    }

    &__stats {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 2;
        padding: 1rem 2rem;
        width: 80%;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;

            text-align: center;

            h2 {
                font-weight: 700;
                margin: 0.5rem 0;
            }

            p {
                font-weight: 300;
                margin: 0.5rem 0;
            }
        }
    }

    &__info {
        width: 100%;
        margin: 0.2rem 0 0.2rem 0;
        padding: 0.2rem;

        button {
            margin-bottom: 0.5rem;
        }
    }

    &__name,
    &__title,
    &__bio {
        margin: 0;
    }
}
