.search-form {
    display: flex;
    align-items: center;
    margin: 0.5rem 0 1px 0;
    padding: 0 1rem;

    border-radius: 15px;
    background-color: white;

    input {
        margin: 0.5rem;
        padding: 0.5rem;

        border-radius: 15px;
        border: gray solid 1px;
        &:focus {
            border: black solid 1px;
            outline: 0px solid white;
        }
    }
}
