.search-form {
    display: flex;
    align-items: center;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem 1rem;

    border-radius: 29px;
    background-color: white;

    button {
        margin-left: 0.5rem;
    }
}
