@use "sass:color";
@import "colors";

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: $darkblue;
}

.navigation__link {
    color: $white;
    &:hover {
        color: scale-color($white, $lightness: -10%);
    }
}

.navigation__home {
    transform: rotate(-2.5deg);
    font-size: 24px;
    font-family: "Trocchi", serif;
    font-weight: 700;
}
