@import "colors";

%header-common {
    display: inline-block;
}

.profile__header {
    margin-top: 0.2rem;
    color: $white;
}

.profile__header--imageself {
    @extend %header-common;
    width: 20%;

    box-shadow: 0 0 5px 1px $white;
}
.profile__header--imageself img {
    height: 100%;
    width: 100%;

    object-fit: cover;
    -o-object-fit: cover;
}

.profile__header--stuff {
    @extend %header-common;
    width: 80%;
}

.profile__header--info {
    // width: 100%;
    margin: 0.2rem 0 0.2rem 0;
    padding: 0.2rem;
}

.profile__header--name,
.profile__header--title,
.profile__header--bio {
    margin: 0;
}

.profile__images {
    display: flex;
    flex-wrap: wrap;
}

.profile__images--image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;
    margin: 1px;

    overflow: hidden;

    background-color: $blue;
}

.profile__images--image img {
    height: 100%;
    width: 100%;

    object-fit: cover;
    -o-object-fit: cover;
    background-color: #ffffff;
    // width: 100vw;
}
