// $darkblue: #14213d;
// //oxford blue
// $blue: #24406b;
// //dark cornflower blue
// $white: #f0f9f9;
// //old lace
// $red: #e63946;
// //imperial red
// $black: #000814;
// //rich black FOGRA 29
// $gray: #6c757d;
// //slate gray
// $yellow: #ffc300;
// //mikado yellow

$colors: (
    c-darkblue: #14213d,
    //oxford blue
    c-blue: #24406b,
    //dark cornflower blue
    c-white: #f0f9f9,
    //old lace
    c-red: #e63946,
    //imperial red
    c-black: #000814,
    //rich black FOGRA 29
    c-gray: #6c757d,
    //slate gray
    c-yellow: #ffc300,
    //mikado yellow
);

@mixin gencolorclasses($attr) {
    @each $name, $hex in $colors {
        &-#{$name} {
            #{$attr}: $hex;
        }
    }
}

.bg {
    @include gencolorclasses("background-color");
}

.text {
    @include gencolorclasses("color");
}
