@use "sass:map";

$colors: (
    c-darkblue: #14213d,
    //oxford blue
    c-blue: #24406b,
    //dark cornflower blue
    c-white: #f0f9f9,
    //old lace
    c-red: #e63946,
    //imperial red
    c-black: #000814,
    //rich black FOGRA 29
    c-gray: #6c757d,
    //slate gray
    c-yellow: #ffc300,
    //mikado yellow
);

@mixin gencolorclasses($attr) {
    @each $name, $hex in $colors {
        &-#{$name} {
            #{$attr}: $hex;
        }
    }
}

.bg {
    @include gencolorclasses("background-color");
}

.text {
    @include gencolorclasses("color");
}

.outline {
    @mixin outline-common {
        &.interactive {
            transition-duration: 0.1s;
            &:hover {
                outline-width: 2px;
            }

            &:focus {
                outline-width: 3px;
            }
        }
    }

    &--gray {
        outline: map.get($colors, "c-gray") solid 1px;

        @include outline-common();
    }

    &--white {
        outline: map.get($colors, "c-white") solid 1px;

        @include outline-common();
    }
}

.tag {
    @mixin tag-common {
        margin: 0;
        padding: 1px;

        border-radius: 5px;

        font-size: 0.6rem;
    }

    &--dark {
        @include tag-common();
        background-color: map.get($colors, "c-black");
        color: map.get($colors, "c-white");
        outline: map.get($colors, "c-gray") solid 1px;
    }

    &--light {
        @include tag-common();
        background-color: map.get($colors, "c-white");
        color: map.get($colors, "c-gray");
        outline: map.get($colors, "c-gray") solid 1px;
    }
}
