@use "colors";

$thumbnail-width: 160px;
// $thumbnail-margin: 1px;
// $thumbnail-across-default: 3;

// @function width-calc($th-across) {
//     @return calc(
//         $th-across * $thumbnail-width + $th-across * 2 * $thumbnail-margin
//     );
// }

// $overall-width-default: width-calc(3);

$nav-space: 3rem;

// @mixin width-elements($calc-width) {
//     #root {
//         &:before {
//             position: fixed;
//             z-index: 10000;
//             top: 20rem;
//             content: "#{$calc-width}";

//             color: colors.$clr-gray-5;
//         }
//         margin: auto;
//     }
// }

// @mixin width-elements-media($th-across) {
//     $calc-width: width-calc($th-across);
//     @media only screen and (min-width: $calc-width) {
//         @include width-elements($calc-width);
//     }
// }

// @include width-elements($overall-width-default);
// @include width-elements-media(1);
// @include width-elements-media(2);
// @include width-elements-media(3);
// @include width-elements-media(4);
// @include width-elements-media(5);
// @include width-elements-media(6);

#root {
    overflow-y: hidden;
    overflow-x: hidden;
}

html,
#root,
body {
    height: 100%;
}

.page {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100% - $nav-space);
    padding: 0 1rem 1rem 1rem;

    overflow-y: auto;
    overflow-x: hidden;
}

.navigation {
    position: fixed;
    z-index: 9001;
    display: flex;
    height: $nav-space;
    width: 100%;
    justify-content: space-around;
    align-items: center;

    background-color: colors.$clr-blue-5;
}

@media only screen and (min-width: 0), screen and (max-width: 600px) {
    .navigation {
        bottom: 0;
    }

    #root::after {
        position: static;
        display: block;
        content: "";
        height: $nav-space;
    }
}
@media only screen and (min-width: 600px) {
    .navigation {
        top: 0;
    }

    #root::before {
        position: static;
        display: block;
        content: "";
        height: $nav-space;
    }
}
