.flex {
    display: flex;

    &--row {
        flex-direction: row;
    }

    &--col {
        flex-direction: column;
    }

    &--wrap {
        flex-wrap: wrap;
    }

    &--h {
        &-center {
            justify-content: center;
        }
        &-left {
            justify-content: flex-start;
        }
        &-right {
            justify-content: flex-end;
        }
    }

    &--v {
        &-center {
            align-items: center;
        }
        &-top {
            align-items: flex-start;
        }
        &-bottom {
            align-items: flex-end;
        }
    }
}

.overflow {
    &--scroll {
        overflow: scroll;
    }

    &--hidden {
        overflow: hidden;
    }
}

.scroll-x--hidden {
    overflow-x: hidden;
}

.scroll-y--hidden {
    overflow-y: hidden;
}

.no-wrap {
    white-space: nowrap;
}

.smoothscroll {
    scroll-behavior: smooth;
}
