.flex {
    display: flex;

    &--row {
        flex-direction: row;
    }

    &--col {
        flex-direction: column;
    }

    &--wrap {
        flex-wrap: wrap;
    }

    &--h {
        &-center {
            justify-content: center;
        }
        &-left {
            justify-content: flex-start;
        }
        &-right {
            justify-content: flex-end;
        }
        &-space-between {
            justify-content: space-between;
        }
    }

    &--v {
        &-center {
            align-items: center;
        }
        &-top {
            align-items: flex-start;
        }
        &-bottom {
            align-items: flex-end;
        }
    }
}

.position {
    &--rel {
        position: relative;
    }

    &--abs {
        position: absolute;
    }
}

.display {
    &--inline-block {
        display: inline-block;
    }
}
