@use "sass:map";
@use "sass:color";
@use "colors";

#root {
    &:before {
        color: colors.$clr-gray-5;
    }
}

body {
    // background-image: url("https://picsum.photos/200/300");
    background-color: colors.$clr-white;
}

.page {
}

.navigation {
    background-color: colors.$clr-blue-5;
}
