@use "sass:map";
@use "sass:color";
@use "colors";

#root {
    &:before {
        color: map.get(colors.$colors, "c-white");
    }
}

body {
    // background-image: url("https://picsum.photos/200/300");
    background-color: map.get(colors.$colors, "c-black");
}

.page {
}

.navigation {
    background-color: colors.$clr-blue-5;
}
